body {
  margin: 0;
  background-color: #000;
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  overflow: auto;
}
*{
  cursor: none;
}
.cursor{
  z-index: 999;
  position: absolute;
  background: #ffc942;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px #ffc942,
              0 0 60px #ffc942,
              0 0 100px #ffc942;
  transform: translate(-50%, -50%);
}
.cursor:before{
  content: '';
  position: absolute;
  background: #ffc942;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}
.click-effect{
  position: absolute;
  width: 100px;
  height: 100px;
  border: 5px solid #ffc942;
  margin-left: -65px;
  margin-top: -65px;
  opacity: 0;
  pointer-events: none;
  border-radius: 50%;
  animation: click 0.6s linear;
}
@keyframes click{
  0%{
     opacity: 1;
     transform: scale(0.1); 
  }
  10%{
    opacity: 1;
    transform: scale(0.2); 
 }
 20%{
  opacity: 1;
  transform: scale(0.3); 
}
30%{
  opacity: 1;
  transform: scale(0.4); 
}
40%{
  opacity: 0.9;
  transform: scale(0.5); 
}
50%{
  opacity: 0.7;
  transform: scale(0.6); 
}
60%{
  opacity: 0.5;
  transform: scale(0.7); 
}
70%{
  opacity: 0.3;
  transform: scale(0.8); 
}
80%{
  opacity: 0.1;
  transform: scale(0.9); 
}
90%{
  opacity: 0;
  transform: scale(1); 
}
100%{
  opacity: 0;
  transform: scale(1); 
}
}
.text-primary{
  color: #ffff;
}
.text-secondary{
  color: #ffc942;
  font-family: "Signika", sans-serif;
  font-weight: 600;
}
h1, .h1{
  font-size: 42px;
}
h2, .h2{
  font-size: 35px;
}
h3, .h3{
  font-size: 28px;
}
h4, .h4{
  font-size: 24px;
}
p{
  line-height: 30px;
}
.d-flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.justify-content-center{
  justify-content: center;
}
.ms-2{
  margin-left: 2rem;
}
.mb-5{
  margin-bottom: 3rem;
}
.mx-5{
  margin-right: 5rem;
  margin-left: 5rem;
}
.p-5{
  padding: 3rem;
}
.pb-5{
  padding-bottom: 3rem;
}
.icon-bar {
  width: 100%;
  background-color: #000;
  overflow: auto;
  display: flex;
  flex-direction: row-reverse;
}
.icon-bar a, .navbar, .subtitle-header-text{
  color: #fff;
}
.icon-bar a {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  align-items: center;
  text-align: center;
  padding: 5px;
  transition: all 0.3s ease;
  font-size: 18px;
  border-radius: 50%;
  margin: 1.5rem 3rem 1.5rem 3rem;
  text-decoration: none;
}
.icon-bar a:hover{
  font-size: 28px;
  color: #ffc942;
  box-shadow: 0 0 50px #ffc942;
}
.navbar{
  position: relative;
}
a.logo {
    position: absolute;
    top: 1rem;
    left: 2rem;
    z-index: 1;
}
.small-logo-img{
  width: 40%;
}
.header-ap{
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  text-align: center;
}
.title-hd{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}
.container-header-ap {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    line-height: 0;
}
.video-ap {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/*animation title*/
.subtitle-header-text {
  position: relative;
  margin-top: 20px;
}
.subtitle-header-text span {
  position: relative;
  display: inline-block;
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
     transform: rotateY(360deg)
  }
}


/*CONTAINER ABOUT US */
.description-gs-worker{
  width: 50%;
}
.flip-card {
  background-color: transparent;
  width: 800px;
  height: 400px;
  perspective: 1000px; /* For to have the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}
